flow.json
[
    {
        "id": "3ade69b0.a357f6",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c4a7a85d.6c53b8",
        "type": "twitter in",
        "z": "3ade69b0.a357f6",
        "twitter": "",
        "tags": "#covid19india,#COVID19India,#COVID19INDIA,#Lockdown_India,#lockdown_india,#corona_india",
        "user": "false",
        "name": "",
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "1b97a2dc.ae805d"
            ]
        ]
    },
    {
        "id": "1b97a2dc.ae805d",
        "type": "sentiment",
        "z": "3ade69b0.a357f6",
        "name": "",
        "property": "payload",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "3c808b0f.6c2544"
            ]
        ]
    },
    {
        "id": "a04326ff.464498",
        "type": "ui_chart",
        "z": "3ade69b0.a357f6",
        "name": "",
        "group": "8cad1459.8af328",
        "order": 0,
        "width": "30",
        "height": "12",
        "label": "Aggregate Sentiment Value per 10s Time Period",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3c808b0f.6c2544",
        "type": "join",
        "z": "3ade69b0.a357f6",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "sentiment.score",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "b706c457.d348c8"
            ]
        ]
    },
    {
        "id": "b706c457.d348c8",
        "type": "function",
        "z": "3ade69b0.a357f6",
        "name": "",
        "func": "var scores = msg.sentiment.score;\nvar Msg = {\n    topic: \"Sentiment\",\n    payload: 0\n}\n\nfor (var i=0; i < scores.length; i++) {\n    var score = scores[i]/100;\n    \n    Msg.payload = Msg.payload + score\n}\nreturn [[Msg]];",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "a04326ff.464498",
                "f9bb4ae4.80c558"
            ]
        ]
    },
    {
        "id": "f9bb4ae4.80c558",
        "type": "ui_gauge",
        "z": "3ade69b0.a357f6",
        "name": "",
        "group": "745a7908.a1f3c8",
        "order": 0,
        "width": "8",
        "height": "8",
        "gtype": "gage",
        "title": "Average Sentiment per 10s Time Period",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "8cad1459.8af328",
        "type": "ui_group",
        "z": "",
        "name": "Line Graph",
        "tab": "a403891e.3071a8",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false
    },
    {
        "id": "745a7908.a1f3c8",
        "type": "ui_group",
        "z": "",
        "name": "Gauge Graph",
        "tab": "a403891e.3071a8",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a403891e.3071a8",
        "type": "ui_tab",
        "z": "",
        "name": "Sentiment Analysis of COVID19 Tweets - Visualizer ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]